// fonts
$font-family: "DM Sans", sans-serif;
$title-font: "Roboto", sans-serif;

//colors
$dark: #181c29;
$static-white: #ffffff;
$accent-color: #ff4646;
$gray: #939393;
$azureish-white: #dce8f2;
$light-text: rgba(21,20,57, 0.4);
// breakpoints
$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

// container
$container-width: 1260px;