// fonts
$font-family: "DM Sans", sans-serif;
$title-font: "Roboto", sans-serif;

//colors
$dark: #181c29;
$static-white: #ffffff;
$accent-color: #018394;
// breakpoints
$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

// container
$container-width: 1260px;